nav {
    background-color: white;
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0.3rem;
}
nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li img {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: var(--shadow);
}
