nav {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    margin: 0.3rem;
}
nav ul li {
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li img.avatar {
    width: 2rem;
    height: 2rem;
}
