footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: var(--shadow);
    overflow: hidden;
    transform: translateY(2rem);
}
footer:hover {
    transform: none;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    margin: 0;
}
footer ul li {
    display: flex;
    align-items: center;
    list-style: none;
}
