@import "./modals/modals.css";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modal .body {
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.modal button {
    border-radius: 50px;
    margin: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}
.modal .header > button.close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
}
.modal .content {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.modal .footer > button.close {
    background-color: transparent;
    border: 1px solid #ccc;
}
.modal .footer > button.close:hover {
    background-color: #ccc;
}

.modal .footer > button.submit {
    background-color: var(--ui-color);
    border: 1px solid #ccc;
}
.modal .footer > button.submit:hover {
    background-color: #aaa;
}
