:root {
    --world-color: white;
    --world-color-secondary: black;
}
#body {
    margin: 0 5px;
    border: 1px solid black;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: var(--world-color);
}

.world-hero {
    border: 1px solid black;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-position: center;
    background-size: cover;
    box-shadow: var(--inner-shadow);
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.world-hero h1 {
    text-shadow: var(--stroke);
}

.world-nav {
    padding: 0;
    overflow: scroll;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--world-color);
    color: var(--world-color-secondary);
    box-shadow: var(--inner-shadow);
}
.world-nav a {
    cursor: pointer;
    padding: 0 .3rem;
    border-radius: .5rem;
}
.world-nav a:hover {
    background-color: var(--world-color-secondary);
    color: var(--world-color);
}
.world-nav a.active {
    background-color: var(--world-color-secondary);
    color: var(--world-color);
}
.world-nav li {
    list-style: none;
}
.asset-img {
    float: left;
    width: 250px;
    margin-right: 10px;
    box-shadow: var(--md-shadow);
}
.asset-article-img {
    float: right;
    width: 400px;
    margin-right: 10px;
    box-shadow: var(--md-shadow);
}
.edit-link {
    float:right;
    margin: 5px;
}